/*me permet de donner 50% de la largeur à chaque boîte si nécessaire, donc n'influe pas dans "à propos", par exemple. 
Magique en React!*/
.description {
    flex-basis: 50%;
}

.description .description_title {
    display: flex;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    color: #FFFFFF;
    margin-top: 30px;
    overflow: hidden;
    
}

.description .description_title p {
    margin-right: auto;
}

.description .description_title i {
    padding-top: 8px;
    cursor: pointer;
}

.description .description_content {
    background-color: #F7F7F7;
    padding: 30px 20px 30px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*animation: slide-in 0.5s ease-in-out;*/
}

/*@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateX(0);
    }
}*/

@media screen and (max-width: 768px) {
    .description .description_title p {
        font-size: 13px;
    }

    .description .description_content {
        font-size: 12px;
    }
}