.apart {
    border-radius: 15px;
    display: flex;
    width: 28%;
    align-items: flex-end;
    min-width: 280px;
    position: relative;
}

.apart_text {
    position: absolute;
    width: 50%;
    color: #FFFFFF;
    font-weight: 501;
    font-size: 18px;
    padding-left: 20px;
    bottom: 10px;
    line-height: 26px;
}

.apart a {
    text-decoration: none;
    color: #FFFFFF;
}

.apart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    min-height: 360px;
    filter:brightness(65%);
}

@media screen and (max-width: 768px) {
    .apart {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}