.banner {
    position: relative;
}

.banner .banner_image {
    display: flex;
    width: 90%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    filter:brightness(80%);
}

.banner .banner_image img {
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .banner h1 {
        font-weight: 500;
        font-size: 24px;
    }

    .banner h1 {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-30%,-50%);
    }
}